<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet", href="css/styles.css">
    </head>

    <body>
        {{>header}}
        <p>This site is a tutorial.</p>
        <img src="/img/me.jpg">
        
        <h1>{{title}}</h1>
        {{>footer}}
    </body>
</html>